@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div id="sidebar">
  <div class="logo">
    <a href="#"><img src="http://mcshinsky.net/images/e-logo.png"></a>
  </div>
  <div class="sidebar-nav">
    <ul class="menu vertical">
      <li><a href="#"><i class="fa fa-dashboard" aria-hidden="true"></i>Dashboard</a></li>
      <li><a href="#"><i class="fa fa-compass" aria-hidden="true"></i>Courses</a></li>
      <li><a href="#"><i class="fa fa-cubes" aria-hidden="true"></i>Resources</a></li>
      <li><a href="#"><i class="fa fa-rocket" aria-hidden="true"></i>Tools</a></li>
       
     
    </ul>
 
  </div>
</div>
<div id="content">
  <div id="content-header">
    <div class="clearfix">
      <div class="float-left">
        <div class="mini-nav">
          <a><i class="fa fa-navicon" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="float-right user-header">
        <ul class="menu">
          <li><a><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-bell" aria-hidden="true"></i></a></li>
          <li><span class="user-img"><img src="http://placehold.it/50x50"></span><span class="user-name">user</span><i class="fa fa-angle-down" aria-hidden="true"></i></li>
        </ul>
        
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="banner blue">
      <div class="clearfix">
        <div class="float-left">
          <h4>Welcome</h4>
          <h5>Let's take a look at your progress today.</h5>
        </div>
        <div class="float-right">
          <p>Put info or a badge here.</p>
          <progress max="100" value="80"></progress>
        </div>
      </div>
    </div>
<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Courses</a></li>
  <li class="tabs-title"><a href="#panel2">Lessons</a></li>
  <li class="tabs-title"><a href="#panel2">Videos</a></li>
  <li class="tabs-title"><a href="#panel2">Featured</a></li>
</ul>   

    <div class="content-inner">
      <div class="row">
        <div class="small-12 columns">
      <div class="row">
        <div class="small-12 medium-4 columns">
          <img src="http://placehold.it/600x400/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-4 columns">
          <img src="http://placehold.it/600x400/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-4 columns">
          <img src="http://placehold.it/600x400/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>        
      </div>
      <div class="row">
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
        <div class="small-12 medium-6 columns">
          <img src="http://placehold.it/600x100/ffffff/333333?text=Course+Text+Goes+Here" style="margin-bottom: 15px;">
        </div>
      </div>
      <ul>
        <li>Webinar Schedule</li>
        <li>Notes</li>
        <li>Goals</li>
        <li>Success Stories</li>
        
      </ul>
    </div>
    
    
    <!--
      Course video line https://dribbble.com/shots/3018453-Advanced-Search
https://dribbble.com/shots/820883-Social-stream
https://dribbble.com/shots/1666823-Udemy-Online-Learning-Course-Dashboard/attachments/262659

    -->
  </div>
      </div>
    </div>
</div>
<div id="sidebar-right">
  <!-- browse courses
https://dribbble.com/shots/1666823-Udemy-Online-Learning-Course-Dashboard/attachments/262659
https://dribbble.com/shots/1701074-Student-Dashboard/attachments/271086
https://dribbble.com/shots/1977006-Coderama-Code-Learning-App/attachments/345219
https://dribbble.com/shots/3020111-Achievable-Learning-Experience/attachments/632261
https://dribbble.com/shots/2296975-File-Manager
-->
</div>